:root {
  --main-bg-color: #FFFBE7;
  --card-bg-color: #f0ca90;
  --card-text-color: #5d4037;
  --title-font: 'Valera Round', sans-serif;
  --text-font: 'Hind', sans-serif;
  --content-bg-image: url("../assets/background-image.jpg");
  --navbar-bg-image: url("../assets/grass-patern-2.png");
  --money-icon: url("../assets/medium-money-bag.png");
}

body {
  font-family: var(--text-font);
  background-color: var(--main-bg-color);
}

:is(h1, h2, h3, h4, h5, h6) {
  font-family: var(--title-font);
}

body::-webkit-scrollbar {
  display: none;
}